@each $outline,$color,$background-color,$border-color,$hover-color in (cool,$cool,transparent,$cool,$cool-hover),
(success,$success,transparent,$success,$success-hover),
(primary,$primary,transparent,$primary,$primary-hover),
(disturbed,$disturbed,transparent,$disturbed,$disturbed-hover),
(romantic,$romantic,transparent,$romantic,$romantic-hover),
(warning,$warning,transparent,$warning,$warning-hover),
(danger,$danger,transparent,$danger,$danger-hover),
(smile,$smile,transparent,$smile,$smile-hover),
(night,$night,transparent,$night,$night-hover),
(happy,$happy,transparent,$happy,$happy-hover),
(default,$default-color,transparent,$default-color,$default-color)
{
  .btn-#{$outline} {
    background-color: $background-color;
    color:lighten($color,5%);
    border:2px solid lighten($border-color,5%);
    &:hover,&:active,&:focus,&:active{
      background-color: $hover-color;
      color:$text-color;
      border:2px solid $hover-color;
      transition: all 0.2s ease-in-out;
    }
  }
}
